{% extends 'checkout/base.html' %} 
{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Device name</th>
            <th scope="col">Revision</th>
            <th scope="col">IP Address</th>
            <th scope="col">Current User</th>
            <th scope="col">Availability</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in units %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{unit.name}}</td>
            <td>{{unit.revision}}</td>
            <td>{{unit.ip_address}}</td>
            <td id="current_user_{{ unit.pk }}">{{unit.current_user}}</td>
            <td >
                <div>
                    <form id="form_{{ unit.pk }}" action="{% url 'update_availability' %}" method="post">
        		        {% csrf_token %}
                        {{unit.get_availability_display}}   
                        <input type="hidden" name="unitid" value="{{ unit.pk }}" />
                        <input type="hidden" name="userid" value="{{request.user.id}}" />
                        <a class="editor-button btn btn-default btn-sm" 
                           href="#" 
                           onClick="document.getElementById('form_{{ unit.pk }}').submit();">
                {% if unit.availability != "in_use" %} 
                           <span class="glyphicon glyphicon-thumbs-up"></span>
                {% elif unit.current_user.id == request.user.id and unit.availability == inuse %}
                           <span class="glyphicon glyphicon-eject"></span>
                {% endif %}
                        </a>
        			</form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
